<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>984809342297-sn5nsned03oes5c90bf3jphsq3jkg2fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984809342297-sn5nsned03oes5c90bf3jphsq3jkg2fv</string>
	<key>API_KEY</key>
	<string>AIzaSyA9c8z8klmwsLeuEc6mJbNvyMqkekeVNwE</string>
	<key>GCM_SENDER_ID</key>
	<string>984809342297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eric.z0r7.HappyHour</string>
	<key>PROJECT_ID</key>
	<string>happy-hour-project</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-hour-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:984809342297:ios:b024a4aefef5fce5</string>
	<key>DATABASE_URL</key>
	<string>https://happy-hour-project.firebaseio.com</string>
</dict>
</plist>